@model IEnumerable<SkyPioneer.Models.HavaAlani>

@{
    ViewData["Title"] = "HavaAlanlariDetails";
}
<div class="orta">
    <h3 style="color:red; ">@TempData["msj"]</h3>
    <div class="bg-white bg-opacity-75">
<h1>HavaAlanlariDetails</h1>

<p>
            <a asp-action="HavaAlaniCreate" asp-controller="HavaAlani">@_localization.Getkey("Create").Value</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulke)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulke)
            </td>
            <td>
                <a asp-action="HavaAlaniDetails" asp-controller="HavaAlani" asp-route-id="@item.HavaAlaniID">Details</a> |
                <a asp-action="HavaAlaniDelete" asp-controller="HavaAlani" asp-route-id="@item.HavaAlaniID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>

</div>