@model IEnumerable<SkyPioneer.Models.Bilet>

@{
    ViewData["Title"] = "KullaniciBiletler";
}

<h1>KullaniciBiletler</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kullanici)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoltukNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.KullaniciID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucus.UcusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KoltukNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BiletId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BiletId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BiletId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
