@model SkyPioneer.Models.HavaYolu

@{
    ViewData["Title"] = "HavaYoluDetails";
}
<div class="orta ">
    <div class="bg-white bg-opacity-75 text-center">
<h1>HavaYoluDetails</h1>

<div>
    <h4>HavaYolu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.HavaYoluID)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.HavaYoluID)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Isim)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Isim)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Ulke)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Ulke)
        </dd>
    </dl>
        </div>


    </div>
